HF_TOKEN=hf_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEVICE=cuda
WHISPER_MODEL=large-v3
#LANGUAGE=en
WATCH_DIR=/opt/transkription/watchfolder
OUTPUT_DIR=/opt/transkription/output
SETTLE_TIME=5
WEBOOK_SECRET=put-secret-here
